{% extends 'base.html' %}
{% block title %}Job Status{% endblock %}
{% block content %}

Current job status: {{ job.status.name }}.
<br/>
Last updated {{job.updated}}.
<br/>
Time elapsed: {{time_elapsed}}.
<br/>

<form action="{% url 'media:job_requeue' job_id=job.id %}" method="post">
{% csrf_token %}
<input type="submit" value="Requeue">
</form>

<br/>

Job logs
<br/>
{% if job_logs %}
  <ul>
  {% for log in job_logs %}
    <li>{{log}}</li>
  {% endfor %}
</ul>
{% else %}
  No logs found.
{% endif %}

{% endblock content %}
