{% extends 'base.html' %}
{% load content %}
{% block title %}Job Status{% endblock %}
{% block content %}

<a href="{% url 'media:source_edit' source_id=media.source_id %}">Source</a>
{% if prev_media %}
&nbsp;|&nbsp;
<a href="{% url 'media:media_view' media_id=prev_media.id %}">Prev</a>
{% endif %}
{% if next_media %}
&nbsp;|&nbsp;
<a href="{% url 'media:media_view' media_id=next_media.id %}">Next</a>
{% endif %}

<div class="media-container">
  {% if media.extension == 'mp4' %}
    <video controls autoplay class="media">
      <source src={% media media.web_content_path %} type="video/mp4"/>
    </video>
  {% elif media.extension == 'webm' %}
    <video controls autoplay loop class="media">
      <source src={% media media.web_content_path %} type="video/mp4"/>
    </video>
  {% else %}
    <img class="media" src={% media media.web_content_path %} alt="{{media.content_hash}}" />
  {% endif %}
</div>

<br/>
<br/>
Direct Link: <a href={% media media.web_content_path %}"">{% media media.web_content_path %}</a>
<br/>
Extract Path: {{media.extract_path}}
<br/>
Transform Path: {{media.transform_path}}
{% endblock content %}
