{% extends 'base.html' %}
{% block title %}Source Edit{% endblock %}
{% block content %}

This is a {{source_kind.name}} source.

<br/>

<form action="{% url 'media:source_update' source_id=source.id %}" method="post">
{% csrf_token %}
<input name="name" value="{{source.name}}"><label for="name">Name</label>
<br/>
<input name="description" value="{{source.description}}"><label for="description">Description</label>
<br/>
<input name="origin_path" value="{{source.origin_path}}"><label for="path"><a href="{{source.origin_path}}">Path or API Key</a></label>
<br/>
{% if source_kind.name == "reddit-post" %}
<input name="discussion_path" value="{{source.discussion_path}}"><label for="dicussion_path"><a href="{{source.discussion_path}}">URL to reddit discussion<a/></label>
<br/>
{% endif %}
<input type="submit" value="Save">
</form>
<br/>
<form action="{% url 'media:source_sync' source_id=source.id %}" method="post">
{% csrf_token %}
<input type="submit" value="Sync">
</form>

{% endblock content %}
