{% extends 'base.html' %}
{% block title %}Sources{% endblock %}
{% block content %}
<a href="{% url 'media:source_add' %}"><button class="action-link">Create a new source</button></a>
<a href="{% url 'media:source_list' mode='populated' %}"><button class="action-link">Populated Sources</button></a>
<a href="{% url 'media:source_list' mode='empty' %}"><button class="action-link">Empty Sources</button></a>
<a href="{% url 'media:source_list' mode='all' %}"><button class="action-link">All Sources</button></a>
<br/>
<br/>

{% if sources %}
Found {{sources.count}} {{mode}} sources.
<br/><br/>
  {% for source in sources %}
    <a href="{% url 'media:source_edit' source_id=source.id %}">{{source.id}} - {{source.kind.name}} - {{ source.name }} - {{source.legacy_v1_id}} - {{source.origin_path}}</a>
    <br/>
  {% endfor %}
{% else %}
  No sources found. How about adding one?
{% endif %}
{% endblock %}
