{% extends 'base.html' %}
{% block title %}Source Edit{% endblock %}
{% block content %}

This is a {{source.kind.name}} source.

<ul>
  <li>origin_path - <a href="{{source.origin_path}}">{{source.origin_path}}</a></li>
  <li>discussion_path - <a href="{{source.discussion_path}}">{{source.discussion_path}}</a></li>
  <li>content_path - <a href="file:///{{source.content_path}}">{{source.content_path}}</a></li>
</ul>

<br/>

<form action="{% url 'media:source_update' source_id=source.id %}" method="post">
{% csrf_token %}
<input name="name" value="{{source.name}}"><label for="name">Name</label>
<br/>
<input name="description" value="{{source.description}}"><label for="description">Description</label>
<br/>
<input type="submit" value="Save">
</form>
<br/>
<form action="{% url 'media:source_sync' source_id=source.id %}" method="post">
{% csrf_token %}
<input type="submit" value="Sync">
</form>

{% if job %}
<br/>
<a href="{% url 'media:job_status' job_id=job.id %}">Latest related job - {{job_status.name}}</a>
{% endif %}

{% endblock content %}
