{% extends 'base.html' %}
{% block title %}Storage Edit{% endblock %}
{% block content %}

<form action="{% url 'media:storage_update' storage_id=storage.id }">
{% csrf_token %}
This storage is named {{storage.name}}.
<br/>
It contains a description of {{storage.description}}.
<br/>
It points to the path {{storage.path}}.
<br/>
Mediacrity thinks this storage is {% if locked %} locked{% else %} unlocked{% endif %}.
</form>

<br/>

<form action="{% url 'media:storage_mount' storage_id=storage.id %}" method='POST'>
  {% csrf_token %}
  <input name="password" type="password" value=""><label for="password">Password</label>
  <br/>
  <button type='submit'>Mount</button>
</form>
<br/>
<form action="{% url 'media:storage_unmount' storage_id=storage.id %}" method='POST'>
  {% csrf_token %}
  <button type='submit'>Unmount</button>
</form>

{% if contents %}
</br>
Files and dirs found at top level.
<br/>
  <ul>
  {% for entry in contents %}
    <li>{{entry}}</li>
  {% endfor %}
</ul>
{% else %}
  No files or dirs found in this storage.
{% endif %}

{% endblock content %}
