{% extends 'base.html' %}
{% block title %}Storage Edit{% endblock %}
{% block content %}

<form action="{% url 'media:storage_update' storage_id=storage.id }">
{% csrf_token %}
This storage is named {{storage.name}}.
<br/>
It contains a description of {{storage.description}}.
<br/>
It points to the path {{storage.path}}.
<br/>
</form>

<br/>

<form action="{% url 'media:storage_mount' storage_id=storage.id %}" method='POST'>
  {% csrf_token %}
  <input name="password" type="password" value=""><label for="password">Password</label>
  <br/>
  <button type='submit'>Mount</button>
</form>
<br/>
<form action="{% url 'media:storage_unmount' storage_id=storage.id %}" method='POST'>
  {% csrf_token %}
  <button type='submit'>Unmount</button>
</form>

{% endblock content %}
