body {
  font-family: sans-serif;
  background: #f0f0f0;
}

.fluid-container{
  display: inline-flex;
  width: 150px;
  height: 150px;
}

.image img{
  max-width: 100%;
  max-height: 100%;
  width: 150px;
  height: 150px;
}

.page-container{
  width: 100%;
  margin: auto;
}

.hidden{
    display: none;
}

.media-container{

}

.metadata{
    overflow: auto;
}

.media{

}

.clear{
    clear: both;
}

img {
    max-width: 100%;
    max-height: 70vh;
    display: block;
    margin: 0 auto;

}

video {
    width: 100%;
    max-height: 70vh;
    display: block;
    margin: 0 auto;
}

.overlay{
    width:100%;
    height:100%;
    display:none;
    position:absolute;
    top:0px;
    left:0px;
}
.overlay div {
    position:relative;
    display:inline-block;
    top:50%;
    margin:-50% 5px 0 0;
}
ul.media {
    list-style: none;
    width: 100%;
}
ul.media li {
    position:relative;
    display:inline-block;
}
li .overlay {
    display:block;
    margin: 33px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

li a .overlay{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.bucket_summary{
    margin-left: 40px;
}

.preview-container{
    position: relative;
    text-align: center;
    margin: 0px 2px;
}

.top-overlay {
    position: absolute;
    top: 15%;
    left: 33%;
    transform: translate(-50%, -50%);
    color:white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align:left;
    font-size: .7em;
}

.bottom-overlay {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
    color:white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align: right;
    font-size: .7em;
}

.json-pretty {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  width: 60%;
}

.action-link {
  font-size: 24px;
  width: 10vw;
  height: 5vh;
}

.landing {
  text-align:center;
  font-size:80px;
}
p > input {
  font-size: 80px;
  max-width: 80%;
}

.login-btn {
  font-size: 60px;
  width: 80%;
}

.big-input {
  width:60%;
  height: 60px;
  font-size: 24px;
}

.big-submit {
  width:30%;
  height: 60px;
  font-size: 24px;
}

.search-form input {
  margin: 1em 1em;
  height: 2em;
  width: 50%;
}

textarea {
  width: 85%;
  height: 700px;
}

.list-link {
  font-size: 30px;
}

.directory{
    cursor: pointer;
}
