{% load static %}
<div class="fluid-container">
  <a href="{% url 'media:media_view' media_id=media.id %}">
      <div class="preview-container">
        <div class="image">
          <img src={% static media.web_thumbnail_path %} alt="{{media.sort_order}}-{{media.content_hash}}" title="{{media.sort_order}}-{{media.content_hash}}" />
        </div>
        {% if media.extension == 'mp4' %}
          <div class="top-overlay">VIDEO</div>
        {% elif media.extension == 'webm' %}
          <div class="top-overlay">WEBM</div>
        {% endif %}
        <div class="bottom-overlay">
        {{media.byte_size}}
        </div>
      </div>
  </a>
</div>
