import React, {Component} from 'react'
import {UISref} from '@uirouter/react'
import Placeholder from 'component/placeholder'
import FileSize from 'component/file-size'

export default class MediaPreview extends Component{
  constructor(props){
    super(props)
    this.getOverlayText = this.getOverlayText.bind(this)
  }
  getOverlayText(){
    if(this.props.source){
      if(this.props.source.media.length > 1){
          return `${this.props.source.media.length} items`
      }
      return null
    }
    if(this.props.media.extension === 'mp4'){
      return 'VIDEO'
    }
    if(this.props.media.extension === 'webm'){
      return 'GIF'
    }
    return null
  }

  render(){
    let overlay = this.getOverlayText()
    let hover = this.props.media?`${this.props.media.source_path?this.props.media.source_path.split('/').slice(-1)[0]:''} ${this.props.media.media_id}`: `${this.props.source.source_id} - ${this.props.source.source_path}`
    return (

    )
  }
}

<div className="fluid-container">
  <a href="{% url 'media:source_sync' source_id=source.id %}"
  <UISref to={this.props.source?'source':'media'} params={this.props.source?{sourceId: this.props.source.hash_id}:{mediaId: this.props.media.media_id}}>
    <a>
      <div className="preview-container">
        <div className="image">
          {% include "media/comp/placeholder" %}<Placeholder mediaId={this.props.media.media_id}>
            <img src={`/${this.props.media.thumbnail_path}`} alt={hover} title={hover} />
          </Placeholder>
        </div>
        {overlay?<div className="top-overlay">{overlay}</div>:null}
        <div className="bottom-overlay">
        <FileSize source={this.props.source} media={this.props.media} />
        </div>
      </div>
    </a>
  </UISref>
</div>
