{% load content %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - Mediacrity</title>
  <link rel="stylesheet" type="text/css" href="{% asset 'css/mediacrity.css' %}" />
  <script src="{% asset 'js/jquery-3.4.1.min.js' %}"></script>
</head>
<body>
  <div class="page-container">
    {% if user.is_authenticated %}
      <a href="{% url 'logout' %}"><button class="action-link">Logout</button></a>
    {% else %}
      <a href="{% url 'login' %}"><button class="action-link">Login</button></a>
    {% endif %}
    <a href="{% url 'home' %}"><button class="action-link">Home</button></a>
    {% if user.is_authenticated %}
      <a href="{% url 'media:storage_list' %}"><button class="action-link">Storage</button></a>
      <a href="{% url 'media:album_list' %}"><button class="action-link">Albums</button></a>
      <a href="{% url 'media:source_list' %}"><button class="action-link">Sources</button></a>
      <a href="{% url 'media:media_list' %}"><button class="action-link">Media</button></a>
      <a href="{% url 'media:job_list' %}"><button class="action-link">Jobs</button></a>
      <a href="{% url 'media:link_list' %}"><button class="action-link">Links</button></a>
      <a href="{% url 'media:media_random' %}"><button class="action-link">Random</button></a>
      <a href="{% url 'media:media_admin' %}"><button class="action-link">Admin</button></a>
      <a href="{% url 'media:file_upload' %}"><button class="action-link">Upload</button></a>
      <br/>
      <form action="{% url 'media:search_query' %}" method="post">
        {% csrf_token %}
        <input class="big-input" name="query" value="" id="search-query">
        <input class="big-submit" type="submit" value="Search" id="search-submit">
        <p style="display:none;" id="search-warning">Please enter a search query</p>
      </form>
      <script>

        $('#search-submit').click((e)=>{
          let warning = $('#search-warning')
          warning.hide()
          let query = $('#search-query').val()
          if(query === ''){
            e.preventDefault()
            warning.show()
          }
        })
      </script>
      <br/>
    {% endif %}
    {% if storage_locked %}
      <br/>
      <br/>
      !WARNING! - Storage is curently locked. This page may not function appropriately.
    {% endif %}
    {% block content %}
    {% endblock %}
  </div>
  <script src="{% asset 'js/jquery-lazy-1.7.10.min.js' %}"></script>
  <script>
    $(function() {
       $('.lazy').Lazy();
   });
  </script>
</body>
</html>
